@media (max-width: 1280px){
    .cabecalho .titulo{
        font-size: 40px;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 100px;
        height: 100px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem .tag {
        font-size: 12px;
        top: 2px;
        left: 2px;
    }
    .selecionado-tag{
        font-size: 11px;
        top: 70%;
    }
}

@media (max-width: 767px){
    body::before{
        background-image: url("../imagens/bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main{
        padding: 0 5px;
        justify-content: start;
    }

    .cabecalho .titulo{
        font-size: 22px;
    }

    .selecao-de-personagens .personagem-grande{
        display: none;
    }

    .selecao-de-personagens .lista-de-personagens .personagem .tag {
        font-size: 10px;
    }
    .selecionado-tag{
        font-size: 10px;
    }
}

@media(max-width: 360px){
    .cabecalho .titulo{
        font-size: 19px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem .tag {
        font-size: 8px;
    }
    .selecionado-tag{
        font-size: 10px;
    }
}